/* CSS代码 */
p{
            /* css代码 */
            /* 选择器{CSS属性} */
            /* 属性名和属性值成对出现-> 键值对 */
            /* 颜色 */
            color:red;
            /* 字号 */
            font-size: 30px;
        }